@import url("../vendor/normalize.css");
@import url("../vendor/fonts.css");
@import url("../blocks/page.css");
@import url("../blocks/header.css");
@import url("../blocks/gallery.css");
@import url("../blocks/footer.css");
@import url("../blocks/places.css");
/* ===== ESTILOS GLOBALES ===== */
body {
  background-color: #f5f5f5; /* gris claro */
  margin: 0;
  font-family: "Inter", system-ui, -apple-system, sans-serif;
  color: #333;
}
